body {
	background: rgb(182, 182, 182);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#wrapper {
	width: 900px;
	perspective: 900px;
}

canvas {
	cursor: pointer;;
	background-color: rgb(229, 255, 203);
	transform: rotateX(45deg);
}

#start{
	padding: 10px 20px;
	border-radius: 20px;
	background-color: green;
	box-shadow: 1px 1px 2px 0 #000000;
	border: none;
	text-transform: uppercase;
}
#start:hover {
	cursor: pointer;
	background-color: rgb(0, 94, 0);
}
#start:focus {
	cursor: pointer;
	background-color: rgb(0, 61, 0);
	box-shadow: 1px 1px 2px -2px #000000;
	outline: none;
	color: rgba(255, 250, 240, 0.5);
}

